#move {
background:-webkit-linear-gradient(top, white 0%, white 50%, transparent 100%);
background:-moz-linear-gradient(top, white 0%, white 50%, transparent 100%);
background:linear-gradient(to bottom, white 0%, white 50%, transparent 100%);

zIndex : 10;
position : absolute;
top : 0;
right : 0;
left : 0;
height : calc(100*3vh);
width : 100vh;
}

body {
    color: #444;
    font-family: fantasy;
}



a {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: royalblue;
}
